<!-- ng-model is the Angular binding. By using a value with dot notation it declares it as an object (doesn't need to be declared elsewhere) -->
<input type="text" ng-model="story.ingVerb" placeholder="-ing Verb">
<input type="text" ng-model="story.adj1" placeholder="Adjective">
<input type="text" ng-model="story.adj2" placeholder="Adjective">
<input type="text" ng-model="story.plNoun1" placeholder="Plural Noun">
<input type="text" ng-model="story.adj3" placeholder="Adjective">
<input type="text" ng-model="story.person" placeholder="Person">
<input type="text" ng-model="story.plNoun2" placeholder="Plural Noun">
<input type="text" ng-model="story.place" placeholder="Place">
<input type="text" ng-model="story.adj4" placeholder="Adjective">
<input type="text" ng-model="story.celeb" placeholder="Celebrity">
<input type="text" ng-model="story.noun1" placeholder="Noun">
<input type="text" ng-model="story.plNoun3" placeholder="Plural Noun">
<input type="text" ng-model="story.adj5" placeholder="Adjective">
<input type="text" ng-model="story.plNoun4" placeholder="Plural Noun">
<input type="text" ng-model="story.plNoun5" placeholder="Plural Noun">
<input type="text" ng-model="story.noun2" placeholder="Noun">
<input type="text" ng-model="story.plNoun6" placeholder="Plural Noun>">

<button type="button" ng-click="grabData(story)">Submit</button>
<!-- similar to above. Function is being declared with ng-click. -->
