<p class=story><em>Espionage</em> is the formal word for {{madLib.ingVerb}}.
  In the shadowy world of spies, a/an {{madLib.adj1}} organization like
  the U.S. government uses spies to infiltrate {{madLib.adj2}} groups for
  the purpose of obtaining top secret {{madLib.plNoun1}}. For example, spies
  might have to crack the code for accessing confidential, {{madLib.adj3}}
  files or their mission could be far more dangerous -- like stealing the
  key ingredients for making {{madLib.person}}'s award-winning Explosive Fudgy
  {{madLib.plNoun2}}. Spies are found all over {{madLib.place}}--but they are not allowed to
  reveal their {{madLib.adj4}} identities. A teacher, {{madLib.celeb}}, or even the little
  old {{madLib.noun1}} with the cane and fifteen pet {{madLib.plNoun3}} who lives next door
  to you could be a spy. The world of spying might seem glamorous and {{madLib.adj5}},
  but it's filled with risks and {{madLib.plNoun4}}! Sure, spies have a never-ending supply
  of supercool electronic {{madLib.plNoun5}}, but they can't trusy any {{madLib.noun2}}. Which
  is why the number-one rule of spies is to keep friends close--and {{madLib.plNoun6}}
  closer!</p>
