<p class=story><em>Espionage</em> is the formal word for <span class="outWord">{{madLib.ingVerb}}</span>.
  In the shadowy world of spies, a/an <span class="outWord">{{madLib.adj1}}</span> organization like
  the U.S. government uses spies to infiltrate <span class="outWord">{{madLib.adj2}}</span> groups for
  the purpose of obtaining top secret <span class="outWord">{{madLib.plNoun1}}</span>. For example, spies
  might have to crack the code for accessing confidential, <span class="outWord">{{madLib.adj3}}</span>
  files or their mission could be far more dangerous -- like stealing the
  key ingredients for making <span class="outWord">{{madLib.person}}</span>'s award-winning Explosive Fudgy
  <span class="outWord">{{madLib.plNoun2}}</span>. Spies are found all over <span class="outWord">{{madLib.place}}</span>--but they are not allowed to
  reveal their <span class="outWord">{{madLib.adj4}}</span> identities. A teacher, <span class="outWord">{{madLib.celeb}}</span>, or even the little
  old <span class="outWord">{{madLib.noun1}}</span> with the cane and fifteen pet <span class="outWord">{{madLib.plNoun3}}</span> who lives next door
  to you could be a spy. The world of spying might seem glamorous and <span class="outWord">{{madLib.adj5}}</span>,
  but it's filled with risks and <span class="outWord">{{madLib.plNoun4}}</span>! Sure, spies have a never-ending supply
  of supercool electronic <span class="outWord">{{madLib.plNoun5}}</span>, but they can't trust any <span class="outWord">{{madLib.noun2}}</span>. Which
  is why the number-one rule of spies is to keep friends close--and <span class="outWord">{{madLib.plNoun6}}</span>
  closer!</p>
